img {
    width: 400px;
}

* {
	box-sizing: border-box;
}

html {
	width: 100%
}

body {
	width: 960px;
	background: lightsteelblue;
	margin: 50px auto;
}

button {
	background: #eee;
	padding: 10px 25px;
	margin-bottom: 15px;
	display: block;
}


#yourHealth{
	position: relative;
	height: 30px;
	width: 250px;
	border: white 3px solid;
	border-radius: 3px;
	margin-right: 20px;
	display: inline-block;
}

#compHealth {
    position: relative;
	height: 30px;
	width: 250px;
	border: white 3px solid;
	border-radius: 3px;
	margin-right: 20px;
	display: inline-block;
}

#yourHealthBar{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 80%;
	background: lightgreen;
}

#compHealthBar{
    position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: lightgreen;
}

#announcements {
	border: black 2px solid
}

#announcements span {
	color: white;
}